body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    height: 100vh;
}

/* Horní panel */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Odkazy v panelu */
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

/* Kontejner pro obsah pod navbar */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Celková výška minus výška navigačního panelu */
    padding-top: 60px; /* Odsazení kvůli fixnímu navbaru */
}

/* Styl pro nadpis */
h1 {
    color: #333;
    margin-top: 20px;
}

/* Formulář */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}

label,
select,
input[type="date"],
input[type="text"],
input[type="number"] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

input[type="number"],
input[type="text"],
select,
input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus,
input[type="date"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#results {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    min-height: 100px;
    margin-top: 20px;
    text-align: left;
    overflow-y: auto;
    max-height: 200px;
}

#loadButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    width: 150px;
}

#loadButton:hover {
    background-color: #218838;
}

#loadButton:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}